*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background: radial-gradient(circle at top,#1b2a3a,#0c1117);
color:white;
min-height:100vh;
}

/* main container */

.main{
width:100%;
min-height:100vh;
padding:40px 8%;
}

/* navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:14px 25px;
border-radius:14px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
}

.logo{
font-size:20px;
font-weight:bold;
}

.nav-links{
display:flex;
gap:35px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:14px;
opacity:0.8;
}

.nav-links a:hover{
    color: cornflowerblue;
}

/* hamburger */

.hamburger{
display:none;
font-size:24px;
cursor:pointer;
}

/* hero */

.hero{
margin-top:80px;
max-width:550px;
}

.hero h1{
font-size:60px;
line-height:1.1;
}

.hero p{
margin-top:20px;
opacity:0.7;
}

.hero button{
margin-top:25px;
padding:10px 18px;
border:none;
border-radius:6px;
background:white;
color:black;
font-weight:600;
cursor:pointer;
}

/* MOBILE MENU POPUP */

.mobile-menu{
position:fixed;
top:120px;
left:50%;
transform:translateX(-50%);
width:85%;
height:60vh;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);
border-radius:20px;
display:none;
flex-direction:column;
justify-content:center;
align-items:center;
gap:30px;
box-shadow:0 0 25px rgba(0,0,0,0.5);
}

.mobile-menu a{
color:white;
text-decoration:none;
font-size:26px;
font-weight:bold;
letter-spacing:2px;
}

.mobile-menu a:hover{
    color: cornflowerblue;
}

/* responsive */

@media(max-width:768px){

.nav-links{
display:none;
}

.hamburger{
display:block;
}

.hero h1{
font-size:36px;
}

}
